In [1]:
# import libraries
import pandas as pd
import itertools
from ipywidgets import interact

In [2]:
# load dataset
df = pd.read_csv('purchase_intent.csv', sep=',')

# remove user_id
del df[df.columns[0]] # remove user_id column
df.head()

,Vanilla,Chocolate,White Chocolate,Strawberry,Mint,Banana,Coffee,Salted Caramel,Pistachio,Raspberry,Coconut,Birthday Cake
0,0,0,1,1,0,1,0,0,0,1,0,0
1,0,0,0,0,1,0,1,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,1,1
3,0,0,0,1,1,0,0,0,0,0,0,0
4,0,0,1,0,1,1,1,1,0,0,0,0

In [3]:
@interact
def calculate_combination_per_alternative(num_alternative=4):
    df_all_combs = pd.DataFrame({"{}".format(comb): df[list(comb)].sum(axis=1) 
                                 for comb in list(itertools.combinations(df.columns, num_alternative))})
    
    d = {
        'Reach (%)': df_all_combs.astype(bool).sum(axis=0)/len(df) * 100,
        'Frequency': df_all_combs.sum(), 
     }
    
    data = pd.DataFrame(data=d)
    data = data.sort_values(by='Reach (%)', ascending=False)
    return data

interactive(children=(IntSlider(value=4, description='num_alternative', max=12, min=-4), Output()), _dom_classâ€¦